@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-straight/css/uicons-solid-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-bold-straight/css/uicons-bold-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-thin-straight/css/uicons-thin-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Dancing+Script&family=Open+Sans&display=swap');

.App {
    box-sizing: border-box;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Comfortaa', sans-serif;
    letter-spacing: 1.2px;
}

a:active {
    color: gray;
}

a:link {
    color: blue;
}

a:visited {
    color: purple;
}

a:hover {
    color: rgb(52, 52, 208);
}